.not-found
    width 100%
    text-align center
    padding 280px 0
    +tablet()
        padding 160px 0
    +mobile()
        padding 100px 0
    h1
        display inline-block
        padding 15px 18px
        border 2px solid #fff
        opensans 12
        letter-spacing 1px
        color #fff
        text-transform uppercase
