footer
    .informacoes
        border-top 1px solid #fff
        padding 22px 0
        clearfix()
        .links
            float left
            margin-right 90px
            img
                display block
                margin 0 0 35px
            a
                display block
                opensans 14
                transition padding .3s
                + a
                    margin-top 12px
                &:hover
                    padding-left 3px
            +below($tablet)
                width 100%
                img
                    margin-left auto
                    margin-right auto
                a
                    display none
        .telefones
            float left
            h3
                opensans 24 light
                margin 0 0 10px
            p
                margin 0
                span
                    display block
                    opensans 16 light
                    strong
                        font-weight 400
                a
                    opensans 16
                    &:hover
                        text-decoration underline
            +below($tablet)
                width 50%
                text-align center
                margin 0 0 20px
            +mobile()
                width 100%
                h3
                    font-size 18px
                p
                    span
                        font-size 14px
                    a
                        font-size 14px
        .endereco
            float left
            margin 0 60px
            img
                display block
                margin 0 0 12px
            p
                opensans 14
                text-align center
            &.mobile
                display none
            +below($tablet)
                &.desktop
                    display none
                &.mobile
                    display block
                    width 100%
                    margin 0
                    img
                        max-width 100%
                        margin 0 auto 12px
        .mapa
            width 100%
            float left
            height 300px
            margin-top 20px
            +mobile()
                height 200px
            iframe
                display block
                width 100%
                height 100%
    .copyright
        border-top 1px solid #fff
        p
            margin 0
            padding 14px 0
            opensans 10
            text-align center
