header
    border-bottom 1px solid #fff
    padding 35px 0 40px
    +tablet()
        padding 35px 0 30px
    +mobile()
        padding 25px 0
    .center
        position relative
        clearfix()
    nav.desktop
        text-align center
        +below($tablet)
            display none
        a:not(.logo)
            opensans 16
            padding 15px 20px
            margin 0 20px
            transition border .3s
            border 1px solid #000
            &:hover
            &.active
                border 1px solid #fff
        a.logo
            margin 0 50px
    nav.mobile
        display none
        +below($tablet)
            display block
        +tablet()
            a
                &.logo
                    width 100%
                    display block
                &:not(.logo)
                    display inline-block
                    opensans 15
                    padding 10px 14px
                    margin 25px 0 0
                    transition border .3s
                    border 1px solid #000
                    + a
                        margin-left 15px
                    &:hover
                    &.active
                        border 1px solid #fff
        +mobile()
            font-size 0
            a
                &.logo
                    width 100%
                    display block
                    margin-bottom 20px
                    img
                        width 160px
                &:not(.logo)
                    display block
                    float left
                    text-align center
                    width calc('50% - 5px')
                    opensans 14
                    padding 10px 14px
                    transition border .3s
                    border 1px solid rgba(#fff, .1)
                    margin 5px 0 0
                    &:nth-child(3)
                    &:nth-child(5)
                        margin-left 5px
                    &:hover
                    &.active
                        border 1px solid #fff
    .social
        position absolute
        right 0
        bottom 0
        font-size 0
        +tablet()
            bottom 10px
        +mobile()
            bottom auto
            top 5px
        a
            display inline-block
            width 20px
            height 20px
            background-position center top
            background-repeat no-repeat
            transition background .3s
            &:hover
                background-position center bottom
            &.facebook
                background-image $img('ico-facebook.png')
            &.instagram
                background-image $img('ico-instagram.png')
            &.youtube
                background-image $img('ico-youtube.png')
            + a
                margin-left 3px
