.cambio
    padding 35px 0 85px
    +tablet()
        padding 35px 0 65px
    +mobile()
        padding 25px 0 35px
    .center
        clearfix()
    .frase
        text-align center
        margin 0 0 30px
        opensans 12
        font-style italic
        +mobile()
            margin-bottom 25px
        strong
            opensans 12 bold
        .iof
            color red
            opensans 12 bold
    .cotacoes
        font-size 0
        text-align center
        margin-bottom 55px
        +tablet()
            margin-bottom 35px
        +mobile()
            margin-bottom 25px
        > div
            display inline-block
            vertical-align top
            text-align left
            margin-bottom 20px
            width 33.33%
            clearfix()
            img
            .texto
                float left
            .texto
                padding-top 30px
            img
                margin-right 20px
            h4
                opensans 18 bold
                margin 0 0 10px
            p
                margin 0
                opensans 15
                .compra
                    color green
                .venda
                    color red
            &.dolar-americano
            &.euro
                margin-right 10%
            &.peso-argentino
            &.libra-esterlina
            &.novo-sol-peruano
                margin-right 1%
            +tablet()
                width 50%
                margin-right 0 !important
                img
                    width 100px
                h4
                    font-size 16px
                p
                    font-size 14px
            +mobile()
                width 100%
                margin-right 0 !important
                img
                    width 80px
                h4
                    font-size 15px
                p
                    font-size 13px
    .bloco
        clearfix()
        .chamadas
            width 50%
            float left
            +below($tablet)
                width 100%
                margin-bottom 25px
            clearfix()
            .chamada
                display block
                width 50%
                float left
                img
                    width 120px
                    float left
                    display block
                .texto
                    width calc('100% - 120px')
                    float left
                    padding 35px 20px 0 15px
                    opensans 16
                +mobile()
                    width 100%
                    + .chamada
                        margin-top 10px
                    img
                        width 80px
                    .texto
                        width calc('100% - 80px')
                        padding 20px 0 0 10px
                        opensans 14
        .calculadora
            width 50%
            float left
            position relative
            background #333333
            border-left 10px solid #000
            padding 22px
            +below($tablet)
                width 100%
            &:before
                content ''
                position absolute
                top 0
                left -10px
                width 1px
                height 100%
                background #fff
            h3
                opensans 16
                margin 0 0 6px
            p
                opensans 12
                margin 0 0 15px
            label
                display inline-block
                +mobile()
                    display block
                    +label
                        margin-top 5px
                span
                    opensans 12
                input
                    border 1px solid rgba(#fff, .3)
                    width 100px
                    margin-right 20px
                    background none
                    outline 0
                    padding 5px
                    opensans 11
                    color #fff
                    +mobile()
                        width 119px
                select
                    border 1px solid rgba(#fff, .3)
                    width 170px
                    background none
                    outline 0
                    padding 5px
                    opensans 11
                    color #fff
            input[type=submit]
            .voltar
                display block
                position absolute
                width 80px
                height 80px
                line-height 80px
                text-align center
                background #000
                color #fff
                opensans 12
                top 22px
                right 22px
                border 0
                outline 0
                cursor pointer
                transition background .3s, color .3s
                &:hover
                    background #fff
                    color #000
                +mobile()
                    position relative
                    width 100%
                    height auto
                    margin-top 10px
                    top auto
                    right auto
                    line-height 1
                    padding 10px
            p.resultado-texto
                display block
                width calc('100% - 100px')
                margin -8px 0 0
                background #000
                padding 5px 10px
                opensans 12
                strong
                    opensans 14 bold
