.contato
    padding 55px 0 85px
    +tablet()
        padding 40px 0 65px
    +mobile()
        padding 25px 0 35px
    .center
        clearfix()
    .formulario
        position relative
        background #333333
        width 50%
        float left
        border-left 10px solid #000
        padding 22px
        +mobile()
            width 100%
            margin-bottom 25px
        &:before
            content ''
            position absolute
            top 0
            left -10px
            width 1px
            height 100%
            background #fff
        p
            margin 0 0 20px
            opensans 22 light
        .enviado
            text-align center
            padding 30px 0
            opensans 24 light
        .erro
            margin 10px 0
            border 2px solid #851D24
            color #CA2C37
            padding 15px
            opensans 12
            text-align center
            text-transform uppercase
        input[type=text]
        input[type=email]
        textarea
            width 100%
            padding 0 8px
            height 40px
            margin-bottom 3px
            border 1px solid #707070
            background none
            opensans 14
            outline 0
            color #fff
        textarea
            padding 8px
            height 190px
            resize none
        input[type=submit]
            display block
            width 100%
            opensans 14
            background #000
            border 1px solid #707070
            color #fff
            height 40px
            cursor pointer
            outline 0
            transition background .3s, color .3s
            &:hover
                background #707070
                color #000
    .informacoes
        width 43.333%
        float right
        +mobile()
            width 100%
        .telefones
            width 100%
            clearfix()
            .col
                width 50%
                float left
                h3
                    opensans 24 light
                    margin 0 0 10px
                p
                    margin 0
                    span
                        display block
                        opensans 20
                        strong
                            font-weight 700
                    a
                        opensans 16
                        &:hover
                            text-decoration underline
                +below($tablet)
                    width 100%
                    + .col
                        margin-top 20px
        .atendimento
        .localizacao
            margin-top 50px
            +below($tablet)
                margin-top 30px
            h4
                opensans 11 bold
                margin 0 0 4px
            p
                opensans 16
                margin 0
        .atendimento p
            font-style italic
