.cambio-home
    padding-bottom 35px
    border-bottom 1px solid #fff
    +mobile()
        padding-bottom 25px

.destinos-home
    +above($tablet)
        padding-bottom 40px !important

.promocoes
    .promocoes-lista-padrao
        padding-top 60px
        +tablet()
            padding-top 40px
        +mobile()
            padding-top 25px
        h2
            opensans 20 light
            margin 0 0 20px
            text-align center
            +mobile()
                font-size 18px
        > div
            clearfix()
            a
                display block
                width calc('33.333% - 13.333px')
                float left
                margin-right 20px
                margin-bottom 20px
                position relative
                &:nth-child(3n)
                    margin-right 0
                +tablet()
                    width calc('50% - 10px')
                    &:nth-child(4n)
                        margin-right 20px
                    &:nth-child(2n)
                        margin-right 0
                +mobile()
                    width 100%
                    margin-right 0 !important
                img
                    width 100%
                    display block
                .overlay
                    display flex
                    flex-direction column
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    justify-content center
                    background transparent
                    transition background .3s
                    &:after
                        content ''
                        position absolute
                        top 20px
                        left 20px
                        width calc('100% - 40px')
                        height calc('100% - 40px')
                        border 2px solid #fff
                        opacity 0
                        transition opacity .3s
                    h3
                        display block
                        width 100%
                        opensans 24
                        margin 0 0 5px
                        text-shadow 0 1px 2px rgba(#000, .4)
                        padding 0 40px
                        text-align center
                        +mobile()
                            font-size 18px
                    h4
                        width 100%
                        opensans 14
                        margin 0
                        text-shadow 0 1px 2px rgba(#000, .4)
                        padding 0 40px
                        text-align center
                        opacity 0
                        transition all .3s
                        +below($tablet)
                            opacity 1
                    &:hover
                        background rgba(#000, .4)
                        h4
                            opacity 1
                        &:after
                            opacity 1
                    +below($tablet)
                        background rgba(#000, .4)
    .promocoes-lista-variavel
        padding-top 60px
        +tablet()
            padding-top 40px
        +mobile()
            padding-top 25px
        h2
            opensans 20 light
            margin 0 0 20px
            text-align center
            +mobile()
                font-size 18px
        > div
            clearfix()
            a
                display block
                width calc('25% - 15px')
                float left
                margin-right 20px
                margin-bottom 20px
                position relative
                &:nth-child(4n)
                    margin-right 0
                +below($tablet)
                    width calc('50% - 10px')
                    &:nth-child(4n)
                        margin-right 20px
                    &:nth-child(2n)
                        margin-right 0
                img
                    width 100%
                    display block
                .overlay
                    display flex
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    align-items center
                    background transparent
                    transition background .3s
                    &:after
                        content ''
                        position absolute
                        top 20px
                        left 20px
                        width calc('100% - 40px')
                        height calc('100% - 40px')
                        border 2px solid #fff
                        opacity 0
                        transition opacity .3s
                    span
                        display block
                        width 100%
                        opensans 20
                        text-shadow 0 1px 2px rgba(#000, .4)
                        padding 0 40px
                        text-align center
                        +mobile()
                            font-size 16px
                    &:hover
                        background rgba(#000, .4)
                        &:after
                            opacity 1
                    +below($tablet)
                        background rgba(#000, .4)

.cruzeiros-home
    padding-top 60px
    +tablet()
        padding-top 40px
    +mobile()
        padding-top 25px
    h2
        opensans 20 light
        margin 0 0 20px
        text-align center
        +mobile()
            font-size 18px
    .center > div
        clearfix()
        a
            display block
            width calc('25% - 15px')
            float left
            margin-right 20px
            margin-bottom 20px
            position relative
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width calc('33.333% - 13.333px')
                &:nth-child(4n)
                    margin-right 20px
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 10px')
                &:nth-child(4n)
                    margin-right 20px
                &:nth-child(2n)
                    margin-right 0
            img
                width 100%
                display block
            .overlay
                display flex
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                align-items center
                background transparent
                transition background .3s
                &:after
                    content ''
                    position absolute
                    top 20px
                    left 20px
                    width calc('100% - 40px')
                    height calc('100% - 40px')
                    border 2px solid #fff
                    opacity 0
                    transition opacity .3s
                span
                    display block
                    width 100%
                    opensans 16
                    text-shadow 0 1px 2px rgba(#000, .4)
                    padding 0 40px
                    text-align center
                &:hover
                    background rgba(#000, .4)
                    &:after
                        opacity 1
                +below($tablet)
                    background rgba(#000, .4)
