.destinos
    padding 40px 0 90px
    +tablet()
        padding 35px 0 60px
    +mobile()
        padding 25px 0 45px
    h2
        opensans 20 light
        margin 0 0 20px
        text-align center
        +mobile()
            font-size 18px
    .center
        > div
            clearfix()
            font-size 0
            a
                width calc('16.667% - 8.333px')
                margin-right 10px
                text-align center
                display inline-block
                vertical-align top
                &:last-child
                    margin-right 0
                .imagem
                    border 1px solid rgba(#fff, .5)
                    margin-bottom 10px
                    transition background .3s, border .3s
                    img
                        display block
                        width 100%
                span
                    opensans 14
                &:hover
                &.active
                    .imagem
                        border-color #FF0000
                        background #333333
                +mobile()
                    width calc('33.333% - 6.667px')
                    .imagem
                        margin-bottom 8px
                    span
                        font-size 12px
                    &:nth-child(3n)
                        margin-right 0
                    &:nth-child(4)
                    &:nth-child(5)
                    &:nth-child(6)
                        margin-top 12px

.servicos
    text-align center
    padding-bottom 85px
    +tablet()
        padding-bottom 65px
    +mobile()
        padding-bottom 35px
    h2
        opensans 20 light
        margin 0 0 30px
        text-align center
        +mobile()
            font-size 18px
    .servicos-lista
        font-size 0
        text-align left
        .servico
            display inline-block
            vertical-align top
            width calc('33.333% - 13.333px')
            margin-right 20px
            margin-bottom 40px
            &:nth-child(3n)
                margin-right 0
            img
                width 100%
                display block
            h3
                opensans 20 bold
                margin 1em 0
            p
                margin 0
                opensans 16
                + p
                    margin-top .5em
            +mobile()
                width 100%
                margin-right 0
                h3
                    font-size 18px
                p
                    font-size 14px
    &.servicos-cruzeiros
        padding-top 90px
        +tablet()
            padding-top 75px
        +mobile()
            padding-top 35px
        h2
            margin-bottom 20px
        .servicos-lista
            .servico
                text-align center
                h3
                    margin 1em 0 0
                +mobile()
                    &:last-child
                        margin-bottom 0
    &.servicos-home
        padding-top 60px
        +tablet()
            padding-top 45px
        +mobile()
            padding-top 25px
        h2
            margin-bottom 20px
        .servicos-lista
            .servico
                text-align center
                h3
                    margin 1em 0 0
                +mobile()
                    &:last-child
                        margin-bottom 0
    .servicos-contato
        margin-top 60px
        display inline-block
        border 1px solid #fff
        opensans 18
        padding 20px 45px
        transition background .3s, color .3s
        &:hover
            background #fff
            color #000
        +tablet()
            margin-top 45px
        +mobile()
            margin-top 30px
            font-size 16px
            padding 12px 24px

.cruzeiros
    .center
        clearfix()
    h2
        opensans 20 light
        margin 0 0 10px
        text-align center
        +mobile()
            font-size 18px
    .thumbs
        font-size 0
        margin-bottom 60px
        float left
        div
            width calc('12.5% - 4.375px')
            display inline-block
            vertical-align top
            margin-right 5px
            margin-top 10px
            &:nth-child(8n)
                margin-right 0
            img
                width 100%
                display block
                margin-bottom 4px
            span
                opensans 14
                text-align center
                display block
            +mobile()
                width calc('25% - 3.75px')
                &:nth-child(4n)
                    margin-right 0
    .texto
        width 57%
        float left
        opensans 16
        p
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        +mobile()
            width 100%
    .formulario
        width 33%
        float right
        position relative
        background #333333
        border-left 10px solid #000
        padding 22px
        +mobile()
            width 100%
            margin-top 25px
        &:before
            content ''
            position absolute
            top 0
            left -10px
            width 1px
            height 100%
            background #fff
        p
            margin 0 0 20px
            opensans 22 light
        .enviado
            text-align center
            padding 30px 0
            opensans 24 light
        .erro
            margin 10px 0
            border 2px solid #851D24
            color #CA2C37
            padding 15px
            opensans 11
            text-align center
            text-transform uppercase
        input[type=text]
        input[type=email]
        textarea
            width 100%
            padding 0 8px
            height 35px
            margin-bottom 3px
            border 1px solid #707070
            background none
            opensans 12
            outline 0
            color #fff
        textarea
            padding 8px
            height 95px
            resize none
        input[type=submit]
            display block
            width 100%
            opensans 14
            background #000
            border 1px solid #707070
            color #fff
            height 35px
            cursor pointer
            outline 0
            transition background .3s, color .3s
            &:hover
                background #707070
                color #000
